<div>
    <form action="/chemicals/added" method="post">
            <p>GSBL-RN: <input type="text" name="gsbl_rn" id="gsbl_rn"></p>
            <p>CAS_RN: <input type="text" name="cas_rn" id="cas_rn"></p>
            <p>Name: <input type="text" name="name_name" id="name_name"></p>
            <p>Namenstyp: <input type="text" name="type" id="type"></p>
            <p>Sprache: <input type="text" name="language" id="language"></p>
            <p> Erstellungszeit: <input type="text" name="creation_time" id="creation_time"> </p>
            <p>Beschreibung: <input type="text" name="chem_description" id="chem_description"></p>
        <input type="submit" value="Speichern">
    </form>
</div>