<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>ChemInfo</title>
<!--    <link rel="stylesheet" href="./css/style.css">-->
</head>
<body>
<h1>ChemInfo</h1>
<!--<div class="header" id="header">-->
<!--    <a href="#Sprache">Sprache</a>-->
<!--    <a href="#Impressum">Impressum</a>-->
<!--    <a href="#Hilfe">Hilfe</a>-->
<!--    <a href="#API">API</a>-->
<!--    <a href="#Internes">Internes</a>-->
<!--    <div class="search-container">-->
<!--        <form name="quickSearchForm" method="get">-->
<!--            <input type="text" placeholder="Schnellsuche..." id="quickSearch">-->
<!--            <input type="button" name="quickSearchBt" value="Suchen" onclick="submit_search()">-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

{{{body}}}

</body>
<!--<script>-->
<!--    function submit_search() {-->
<!--        const param = document.getElementById("quickSearch").value-->
<!--        const url = "/chemicals/search/" + param-->
<!--        document.getElementById("quickSearchForm").action = url-->
<!--        document.getElementById("quickSearchForm").submit();-->
<!--    }-->
<!--</script>-->
</html>